:root {
    --primary-color: #321911;
    --secondary-color: #5D4037;
    --tercery-color: #8b6b61;
    --content-background-color: rgb(242, 242, 242);
    --navbar-height: 60px;
    --space: 20px;
    --space-double: calc(var(--space) + var(--space));
    --fade-background-color: #00000081;
    --user-view-background-color: #c6c6c6;
    --user-view-text-size: 12px;
    --post-view-background-color: #bababa;
    --comment-view-background-color: #979797;
}

* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--primary-color);
}

h1 {
    color: var(--primary-color);
}

h2 {
    color: var(--secondary-color);
}

button {
    min-width: 60px;
    border-style: none;
    padding: 10px 10px 10px 10px;
    /* margin: 5px 5px 5px 5px; */
    font-weight: bold;
    color: white;
    background-color: var(--secondary-color);
    outline: none;
    border-radius: 5px;
    font-size: 11px;
}

button:focus {
    outline: none;
}

.appContainer {
    background-color: var(--primary-color);
    width: 100vw;
    height: 100vh;
}

.hide {
    display: none !important;
}