.userListViewController {}

.userListViewController_userContainer {
    height: 150px;
    width: calc(100% - var(--space-doble));
    background-color: lightblue;
    margin-bottom: var(--space);
    margin-left: var(--space);
    border-radius: 5px;
}

.userListViewController_navbarContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
}